body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  text-align: center;
}

header {
  display: flex;
  background-color: #313131;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo-img {
  width: 27px;
  padding: 22px 27px;
}

.logo-name {
  font-size: 22px;
  line-height: 30px;
}

.main-menu {
  display: flex;
}

.menu-item {
  list-style: none;
}

.main-menu_link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 27px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;  
  color: #ffffff;
}

.search i{
  padding: 27px;
  color: white;
  background-color: black;
}

.first {
  background-image: url(img/header-background.png);
  background-size: cover;
}

.first h2{
  color: white;
  padding-top: 165px;
  padding-bottom: 45px;
}

.button {
  text-align: center;
}
.button-left {
  margin-right: 20px;
  margin-bottom: 75px;
  background: #89CA62;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  color: white;
  width: 170px;
  height: 55px;
  cursor: pointer;
}

.button-right {
  cursor: pointer;
  margin-bottom: 75px;
  background: #14B9D5;;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  color: white;
  width: 170px;
  height: 55px;
}

.popularPost {
  background: #F2F2F2;
}

.popularPost h2 {
  padding: 50px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 600;
  color: #18B4CF;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  margin: 30px;
  background-color: #fff;
}

.post-link{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.post-name {
  padding: 20px 0px;
}

.clients {
  background-image: url(img/clients.png);
}

.clients-title h2{
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 200px;
}

.our-clients {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 200px;
}

.rated h2{
  margin: 50px 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
}

.rated-img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rated-img img{
  width: 100%;
}

.hotNews {
  background: rgba(0, 0, 0, 0.0001);
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.new{

}

.new-content {
  
}